@page "/counter"
@page "/counter/{CurrentCount:int}"

@layout MainLayout2

@inject NavigationManager uriHelper
@inject IJSRuntime JSRuntime


<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<a class="btn btn-primary" href="/">Home</a>

<button class="btn btn-primary" @onclick="StartFrom50">
    Start From 50
</button>

@code {
    [Parameter]
    public int CurrentCount { get; set; } = 0;

    private void IncrementCount() => CurrentCount += 1;

    private void StartFrom50() => uriHelper.NavigateTo("/Counter/50");

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ExampleJsInterop.Prompt(JSRuntime, "JS interopt");
            JSRuntime.InvokeAsync<string>("exampleJsFunctions.alert", "OnAfterRender");

        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>(
            "exampleJsFunctions.alert",
            "OnAfterRenderAsync");
        }
    }
}
